/*INICIO*/

.inicio {
    flex-grow: 1;
}

.banner {
    background-color: rgb(28, 28, 28);
    background-image: url(../img/inicio.png);
    background-size: cover;
    background-blend-mode: soft-light;
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(58, 202, 169);
    text-shadow: 10px 5px 5px rgb(28, 28, 28);
    font-family: 'Suez One', 'serif';
}

.bannerTitulo {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.bannerDescripcion {
    font-size: 1.6rem;
    text-align: center;
}

.acerca {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(152, 173, 169);
}

.acercaTitulo {
    color: rgb(234, 204, 89);
    font-family: 'Suez One', 'serif';
    font-size: 2.3rem;
    text-shadow: 10px 5px 5px rgb(28, 28, 28);
}

.acercaDescripcion {
    color: rgb(28, 28, 28);
    font-weight: bold;
    padding: 20px;
}

/*FIN INICIO*/

/*GALERIA*/

.contenedorFlex {
    border: 3px solid rgb(234, 204, 89);
    background-color: rgb(28, 28, 28);
    margin-top: 2%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 1.5% 1.5%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.caja {
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .contenedorFlex {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    .column {
        width: 49%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .column {
        width: 32.5%;
    }
}

/*FIN GALERIA*/

/*FORM*/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(152, 173, 169);
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2% 3%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(28, 28, 28);
    text-align: center;
}

.botones {
    flex-direction: row;
}


/*FIN FORM*/

/*ACERCADE*/

.about {
    text-align: center;
    padding: 3%;
}

.aboutTitulo {
    color: rgb(58, 202, 169);
    font-family: 'Suez One', 'serif';
    font-size: 2.3rem;
    text-shadow: 10px 5px 5px rgb(28, 28, 28);
    text-transform: uppercase;
}

.personas {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.miembro {}

.miembroImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 300px;
}

.miembro__nombre {
    color: rgb(58, 202, 169);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    text-shadow: 10px 5px 5px rgb(28, 28, 28);
}

.miembro__nombre:hover {
    color: rgb(234, 204, 89);
}


/*FIN ACERCADE*/